@use "../../../../../../styles/mixins";
@use "../../../../../../styles/functions";

$screen-width-breakpoint: 900px;

.bioParagraph {
    h1 {
        font-size: clamp(
                functions.font-size("xl"),
                7.9vw,
                functions.font-size("xxl")
            ) !important;
    }

    .paragraphAndGraphic {
        @include mixins.flex(row, flex-start);
        gap: 1.5em;
        margin: 1.5em 0;

        .paragraph, .graphic {
            flex: 1;
        }

        .paragraph {
            line-height: 1.75;
            font-size: functions.font-size("base") + 0.2;

            p {
                max-width: 700px;
            }
        }

        .graphic {
            text-align: center;

            img {
                width: clamp(300px, 65%, 600px);
            }
        }
    }
}

@media screen and (max-width: $screen-width-breakpoint) {
    .bioParagraph {
        .paragraphAndGraphic {
            @include mixins.flex(column-reverse);
    
            .paragraph {
                line-height: 1.75;
                font-size: functions.font-size("base");
            }
    
            .graphic {
                width: 100%;
    
                img {
                    width: clamp(300px, 60%, 800px) !important;
                }
            }
        }
    }
}