@use "../../../../../../styles/mixins";
@use "../../../../../../styles/functions";

.bioParagraph {
    .paragraphAndGraphic {
        @include mixins.flex(row, flex-start);
        gap: 1.5em;
        margin: 1.5em 0;

        .paragraph, .graphic {
            flex: 1;
        }

        .paragraph {
            line-height: 1.75;
            font-size: functions.font-size("base") + 0.15rem;
        }

        .graphic {
            text-align: center;

            img {
                width: clamp(300px, 55%, 500px);
            }
        }
    }
}