@use "../../../../styles/mixins";
@use "../../../../styles/functions";

$screen-width-breakpoint: 950px;

.workAndAboutMe {
    position: relative;
    background-color: #ffffff;
    color: #000;

    .content {
        padding: 1em 3em;

        .containerHeader {
            @include mixins.flex();
            padding: 3em;

            nav {
                position: relative; // Ensure the moving square is positioned relative to the nav container
            
                ul {
                    position: relative;
                    display: flex;
                    list-style: none;
                    width: fit-content;
                    border: 3px solid #000;
            
                    li {
                        @include mixins.flex();
                        flex: 1;
            
                        button {
                            padding: 1em 2em;
                            background-color: transparent;
                            border: none;
                            font-size: functions.font-size("base") + 0.15rem;
                            position: relative; // Ensure button content stays in place
                            white-space: nowrap;
                            color: #000;

                            &.selected {
                                color: #FFF;
                            }
            
                            &:hover {
                                cursor: pointer;
                            }
                        }
            
                        &:nth-child(1) {
                            border-right: 2px solid #000;
                        }
                    }
            
                    .movingSquare {
                        position: absolute;
                        bottom: 0; // Place it at the bottom of the nav bar
                        left: 0; // Initially place it at the start of the nav
                        width: 50%; // Adjust width to match the button's size
                        height: 100%; // Height of the square
                        background-color: #000;
                        transition: transform 0.3s ease; // Smooth animation
                    }
                }
            }
        }

        .innerPageWrapper {
            position: relative;
            margin: 3em 0;
        }
    }
}

@media screen and (max-width: $screen-width-breakpoint) {
    .workAndAboutMe {
        .content {
            padding: 1em 1.5em;
    
            .containerHeader {
                padding: 2em;
            }
        }
    }
}