@use "../../../../../../styles/mixins";
@use "../../../../../../styles/functions";

.experience {
    margin-top: 5em;

    .category {
        margin-top: 2.5em;

        // h2 {
            
        // }

        .entry {
            margin-top: 1.5em;

            h3 {
                text-transform: none;
            }
        }
    }
}
