@use "../../../../../../styles/mixins";
@use "../../../../../../styles/functions";

$screen-width-breakpoint: 950px;

.highlightedProjects {
    .projectCards {
        @include mixins.flex(column, center, space-between);
    }
}

@media screen and (max-width: $screen-width-breakpoint) {
    .highlightedProjects {
        h1 {
            text-align: center;
            line-height: 1;
            font-size: clamp(
                functions.font-size("xl"),
                8vw,
                functions.font-size("xxl")
            ) !important;
        }

        .projectCards {
            @include mixins.flex(column, center, space-between);
        }
    }
}