@use "../../styles/mixins";
@use "../../styles/functions";

.contact {
    background-color: #FFF;
    color: #000;

    .content {
        @include mixins.flex(column);
        padding: 2em 0 0vw 0;
        text-align: center;

        h1 {
            font-size: functions.font-size("xl");
        }

        p {
            a {
                color: #000;
                text-decoration: underline;
                text-underline-offset: 0.2em;
            }
        }
    }
}