@use "../../../../styles/mixins";
@use "../../../../styles/functions";

.formWrapper {
    padding: 2em 0;
    width: 100%;

    form {
        @include mixins.flex(column);
        width: 100%;

        input, textarea, button {
            margin: 0.5em 0;
            width: clamp(200px, 85%, 900px);
            height: 3em;
            padding: 1em;
            border: 1px solid #000;
            border-radius: 0;
            font-size: functions.font-size("base") + 0.1rem;
        }

        input::placeholder, textarea::placeholder {
            font-size: functions.font-size("base") + 0.1rem;
        }

        .messageInput {
            height: 12.5em;
            font-family: Arial, Helvetica, sans-serif;
        }

        p {
            margin: 1em 0;
            font-weight: 500;
            height: 1em;
            opacity: 0;
            color: #F00;
        }

        button {
            @include mixins.flex();
            border: 2px solid #000;
            background-color: #000;
            color: #FFF;
            font-weight: 600;
            padding: 2em;
            cursor: pointer;
        }
    }
}