@use "../../../../styles/mixins";

@use "../../../../styles/functions";

$screen-width-breakpoint: 915px;

.aboutMe {
    @include mixins.inner-page();
    position: absolute;
    top: 0;
    left: 0;

    .content {
        padding: 4vw;

        h1 {
            font-size: functions.font-size("xl");
        }
    }
}