@use "../../../../../../styles/mixins";

$screen-width-breakpoint: 900px;

.skillsList {
    margin-top: 5em;
    width: 100%;

    .content{
        @include mixins.flex(row, center, center);
        flex-wrap: wrap;
        gap: 6rem;
        margin: 5em auto 0 auto;
        max-width: 900px;

        .skillCard {
            @include mixins.flex(column, center, center);
            @include mixins.square-element(4em);

            .icon {
                @include mixins.square-element(3.5em);

                opacity: 0.9;
            }

            p {
                white-space: nowrap;
                text-align: center;
                margin-top: 1em;
            }
        }
    }
}

@media screen and (max-width: $screen-width-breakpoint) {
    .skillsList {
        .content {
            gap: 6em;

            .skillCard {
                @include mixins.square-element(1.5em);

                .icon {
                    @include mixins.square-element(2.5em);
                }
            }
        }
    }
}