@use "../../../../../../styles/mixins";
@use "../../../../../../styles/functions";

.skillsList {
    margin-top: 5em;

    .grid {
        margin-top: 5em;
        display: grid;
        grid-template-columns: repeat(4, 1fr); // 4 items per row
        gap: 2rem; // spacing between cards
        justify-items: center; // horizontally center items in each cell
        align-items: center; // vertically center items in each cell

        .skillCard {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .icon {
                width: 50px; // adjust as needed
                height: 50px; // adjust as needed
                margin-bottom: 0.5rem;
                filter: invert(1);
                opacity: 0.9;
            }

            p {
                margin-top: 0.5em;
            }
        }
    }
}
