@use "../../../../../../styles/mixins";
@use "../../../../../../styles/functions";

.skillsList {
    margin-top: 5em;
    width: 100%;

    .grid {
        margin-top: 5em;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        justify-items: center;
        align-items: center;
        width: 100%;
        margin: 5em auto 0 auto;

        .skillCard {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .icon {
                width: 50px;
                height: 50px;
                margin-bottom: 0.5rem;
                opacity: 0.9;
            }

            p {
                margin-top: 0.5em;
            }
        }
    }
}
