@use "../../styles/functions";

footer {
    border-top: 1px solid #ffffff54;

    .content {
        font-size: functions.font-size("lg");
        padding: 2em;

        h4 {
            font-weight: 400;
            
            a {
                
                color: #FFF !important;

                span {
                    font-weight: 500;
                    text-shadow: 0 0 5px #fff,     // Core glow
                        0 0 3px #fff,    // Medium glow
                }
            }
        }
    }
}