@use "../../styles/mixins";
@use "../../styles/functions";

$screen-width-breakpoint: 950px;

footer {
    background-color: #000;

    .content {
        @include mixins.flex(row, center, center);
        gap: 2em;
        padding: 1.5em 0;

        h4 {
            font-size: clamp(
                functions.font-size("sm"),
                2vw,
                functions.font-size("lg")
            );
            font-weight: 400;
            
            a {
                color: #FFF !important;

                span {
                    font-weight: 500;
                    text-shadow: 0 0 5px #fff,     // Core glow
                        0 0 3px #fff,    // Medium glow
                }
            }
        }

        .button {
            display: block;
            width: 10em;
            text-align: center;
            border: 2px solid #FFF;
            color: #FFF;
            padding: 0.5em 1em;
            font-weight: 500;
            font-size: functions.font-size("base") + 0.1rem;
            white-space: nowrap;

            transition: background-color 0.2s ease-in-out;

            &:hover {
                background-color: #FFF;
                color: #000;
            }
        }
    }
}


@media screen and (max-width:$screen-width-breakpoint) {
    footer {
        .content {
            font-size: functions.font-size("base") + 0.1rem;
            padding: 2em 1.75em;

            h4 {
                font-weight: 600;
            }

            .button {
                font-size: functions.font-size("base");
            }
        }
    }
}