@use "../../../../styles/functions";
@use "../../../../styles/mixins";

$screen-width-breakpoint: 900px;

.hero {
    @include mixins.flex();

    .content {
        color: functions.color("foreground");
        background-color: transparent;
        padding: 1.5em 0;
        margin: 2em 5em;

        span.strongGlow {
            text-shadow: 0 0 5px #fff,     // Core glow
                        0 0 10px #fff,    // Medium glow
                        0 0 13px #5d5d5d; // Outer glow 3
        }

        span.softGlow {
            text-shadow: 0 0 5px #fff,     // Core glow
                0 0 3px #fff,    // Medium glow
        }

        .heading {
            line-height: 1.5;
            
            h1 {
                font-size: functions.font-size("hero") - 0.5rem;
                white-space: nowrap;
            }
            
            h3 {
                font-size: functions.font-size("lg")  + 1.2rem;
                opacity: 1;
            }
        }

        .descriptionWrapper {
            p {
                font-size: functions.font-size("lg") + 0.25rem;
                font-weight: 500;
                max-width: 70ch;
                margin-top: 0.5em;

                span {
                    font-weight: bolder;
                }

                &.caption {
                    font-size: functions.font-size("sm");
                    margin-top: 3em;

                    a {
                        color: #FFF;
                        text-decoration: underline;
                        text-underline-offset: 0.25em;
                    }
                }
            }
        }

        .heroFooter {
            position: relative;
            top: 6em;
            text-align: center;
            font-size: functions.font-size("base") + 0.2rem;
            margin-top: 2.25em;
            padding-bottom: 3em;

            p {
                margin-bottom: 1.5em;
                font-weight: 500;
            }
        }
    }
}

.arrows {
    width: 60px;
    height: 72px;
    margin-bottom: 2em;
  }
  
  .arrows path {
    stroke: #FFF;
    fill: transparent;
    stroke-width: 2px;  
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
  }
  
  @keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  @-webkit-keyframes arrow /*Safari and Chrome*/
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  .arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
  }
  
  .arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
  }
  
  .arrows path.a3 { 
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari 和 Chrome */
  }

@media screen and (max-width: $screen-width-breakpoint) {
    .hero {
        .content {
            padding: 0em 1em;
            margin: 2em;

            .heading {
                h1 {
                    white-space: nowrap;
                    font-size: clamp(
                        functions.font-size("xl"),
                        10vw,
                        functions.font-size("hero")
                    );
                    line-height: 1.5;
                }
    
                h2 {
                    color: functions.color("primary");
                    font-size: functions.font-size("lg");
                }
    
                h3 {
                    font-size: functions.font-size("lg");
                    opacity: 1;
                }
            }

            .descriptionWrapper {
                p {
                    line-height: 1.6;
                    font-size: functions.font-size("base") + 0.3rem;
                    font-weight: 500;
                    max-width: 60ch;
    
                    span {
                        font-weight: bolder;
                    }
                }
            }

            .heroFooter {
                top: 3.5em;
                margin-top: 0;
            }
        }
    }
}