@use "../../../../styles/functions";

$screen-width-breakpoint: 900px;

.hero {
    .content {
        color: functions.color("foreground");
        background-color: transparent;
        padding: 4em 8em;

        span.strongGlow {
            text-shadow: 0 0 5px #fff,     // Core glow
                        0 0 10px #fff,    // Medium glow
                        0 0 13px #5d5d5d; // Outer glow 3
        }

        span.softGlow {
            text-shadow: 0 0 5px #fff,     // Core glow
                0 0 3px #fff,    // Medium glow
        }

        .heading {
            line-height: 1.2;
            h1 {
                font-size: functions.font-size("hero");
            }

            h2 {
                color: functions.color("primary");
                font-size: functions.font-size("lg") + 0.5rem;
            }

            h3 {
                font-size: functions.font-size("lg")  + 1.2rem;
                opacity: 1;
            }
        }

        .descriptionWrapper {
            margin: 2em 0;

            p {
                font-size: functions.font-size("lg") + 0.5rem;
                font-weight: 500;
                max-width: 55ch;

                span {
                    font-weight: bolder;
                }
            }
        }

        .heroFooter {
            position: relative;
            top: 2.5em;
            text-align: center;
            font-size: functions.font-size("base") + 0.1rem;
            margin-top: 6em;

            p {
                margin-bottom: 1.5em;
            }
        }
    }
}

.arrows {
    width: 60px;
    height: 72px;
    margin: 1.5em 0;
  }
  
  .arrows path {
    stroke: #FFF;
    fill: transparent;
    stroke-width: 2px;  
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
  }
  
  @keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  @-webkit-keyframes arrow /*Safari and Chrome*/
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  .arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
  }
  
  .arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
  }
  
  .arrows path.a3 { 
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari 和 Chrome */
  }

@media screen and (max-width: $screen-width-breakpoint) {
    .hero {
        .content {
            padding: 3em 2.5em;

            .heading {
                line-height: 1.2;

                h1 {
                    white-space: nowrap;
                    font-size: functions.font-size("xl");
                }
    
                h2 {
                    color: functions.color("primary");
                    font-size: functions.font-size("lg");
                }
    
                h3 {
                    font-size: functions.font-size("lg");
                    opacity: 1;
                }
            }

            .descriptionWrapper {
                margin: 2em 0;
    
                p {
                    font-size: functions.font-size("base");
                    font-weight: 500;
                    max-width: 55ch;
    
                    span {
                        font-weight: bolder;
                    }
                }
    
                .footer {
                    font-size: functions.font-size("base");
                    margin-top: 2em;
                }
            }
        }
    }
}