@use "sass:map";
@import '../../main.scss';

main {
    h1 {
        text-align: center;
    }

    nav {
        margin: 5em 0;
    }
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    a {
        text-decoration: none;

        button {
            display: block;
            padding: 1em 2em;
            font-size: 1.05rem;
            color: #FFF;
            background-color: map.get($theme-colors, "slate-blue");
            transition: 0.125s ease-in-out;
            border: none;
            border-radius: 2px;
            
            &:hover {
                cursor: pointer;
                background-color: transparent;
            }
        }
    }
}